.quiz-play-holder {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    margin-top: 40px;
}

.category-holder {
    margin-top: 16px;
    font-size: 24px;
}

.choose-header {
    font-size: 34px;
    font-weight: bold;
}

.play-category {
    cursor: pointer;
}

.play-category:hover {
    color: dodgerblue;
    transition: 0.2s  ease-in-out;
}

.guess-input {
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 10px;
}

.guess-input:focus {
    outline: none;
}

.button {
    width: 100px;
    margin-top: 5px;
    background-color: dodgerblue;
    color: white;
    padding: 3px 5px;
    align-self: center;
    border-radius: 5px;
    cursor: pointer;
}

.submit-guess {
    border: none;
    height: 40px;
    border-radius: 5px;
}

.button:hover {
    background-color: #26eea1;
    box-shadow: 1px 1px 0.5px #ccc;
    transition: 0.2s ease-in-out;
}

.search-btn {
    border: none;
    border-radius: 5px;
    font-family: 'Product Sans';
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    height: 30px;
    cursor: pointer;
}

.search-bar {
    height: 25px;
    border-radius: 5px;
    font-family: 'Product Sans';
    padding-left: 5px;
    border: 1px solid #ccc;
}

.search-bar:focus {
    outline: none;
}

.search-btn:hover {
    background-color: #26eea1;
    transition: 0.2s ease-in-out;
    box-shadow: 1px 1px 3px #ccc;
}

div.button {
    margin-top: 20px;
    margin-left: calc(50% - 50px);
}

.quiz-question {
    margin: 12px;
    font-size: 24px;
}

.correct {
    color: green;
}

.wrong {
    color: red;
}